.editor {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-direction: column;
}

.editor__label {
  color: #658ec6;
  font-weight: 500;
  font-size: 1.5rem;
  opacity: 0.8;
  margin-right: 5rem;
}

.editor__select {
  border: none;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  padding: 0.7rem;
  border-radius: 1rem;
  min-width: 16rem;
  max-width: 50%;
  text-align: center;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.editor__input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  color: #426696;
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
  max-width: 50%;
  padding: 0.7rem;
  border-radius: 1rem;
  outline: none;
}

.editor__fields {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  max-width: 45rem;
}

.editor__buttons {
  margin-top: 2rem;
  display: flex;
  column-gap: 2rem;
}

.editor__btn {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  margin-top: 1rem;
  max-width: 10rem;
  font-size: 1.2rem;
  font-weight: 600;
  column-gap: 0.2rem;
  cursor: pointer;
}
